// import changes

// $primary: #005aa9;
// $secondary: #F8F9FA;
// $tertiary: #f0eeeb;
// $text-color: #000000;
// $backgroud-dark: #2e2f49;



// // navbar variables
// $navbar-brand-margin-end: 3rem;
// $navbar-nav-link-padding-x: 0;

// $navbar-light-active-color: #005aa9;
// $navbar-light-color: $text-color;
// $navbar-light-hover-color: $primary;


// // heading variables
// $headings-font-weight: 600;

// Card Variables
// $card-height: 17.5rem;


@import 
"./abstracts/all-abstracts", 
"./pages/all-pages",
"./layout/all-layout",
        "./vendors/all-vendor";

// @import "../../node_modules/bootstrap/scss/bootstrap.scss";

// custom style changes



// typography

html {
  font-family: 'Noto Sans', sans-serif;
}

.nav-link {
  &.drop-down {
    &::after {
      margin-left: 6px;
      font: var(--fa-font-solid); 
      content: "\f107"; 
    }
  }
}

// .section-head {
//     margin-bottom: 60px;
//     position: relative;
//   h2 {
//     position: relative;
//     display: inline-block;
//     padding-bottom: 9px;
//     margin-bottom: 2.5rem;
    
//     &::after{
//       content: "";
//       position: absolute;
//       height: 2px;
//       width: 50%;
//       background: $primary;
//       bottom: 0;
//       left: 50%;
//       transform: translateX(-50%);
  
//     }
//   }
//   p{
//     font-size: 21px;
//   }
// }


// // top navbar 
// .navbar {
//   .nav-item {
//     .nav-link {
//       position: relative;
//       margin: 0 1.3rem;
      
//       &::before {
//         content: "";
//         position: absolute;
//         background: $primary;
//         height: 1px;
//         width: 0;
//         bottom: 0;
//         left: 0;
//         transition: all 0.2s ease-in-out;
//       }

//       &:not(.active):hover{
//         &::before {
//           width: 100%;
//         }
//       }
//     }
//   }

//   .nav-right {
//     .nav-right-item {
//       position: relative;
//       .nav-link {
//         padding: 1.3rem;
//       }
//       &:not(:last-of-type){
//         .nav-link {
//           &::before {
//             content: "";
//             background: $text-color;
//             position: absolute;
//             height: 33%;
//             width: 1px;
//             right: 0;
//             top: 0;
//             transform: translateY(100%);
  
//           }
//         }
//       }
//     }
//   }
// }

.btn {
  padding: 9px;
    color: white;
    font-size: 21px;

background-color: #c69716;
border-color: #d1851b;
}

  
.init-top {
  background-image: url("../images/top01.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  height: calc(100vh);
  position: relative;

  .overlay{
    position: absolute;
    content: '';
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    background-color: rgba(184, 180, 180, 0.774);
  
  }

  .title {
    font-size: 2.5rem;
  }

  span {
    font-size: 9rem;
    font-weight: 900;
    color: #026;
    line-height: 1;
    margin-bottom: 20px;
  }

.text {
  font-size: 1.2rem;
  font-weight: normal;
  max-width: 700px;
  text-align: center;
  }

  .btn {
    padding: 9px;
    color: white;
    font-size: 21px;
  
    background-color: #c69716;
    border-color: #d1851b;
  }


  //  &_key {
  //   position: absolute;
  //   top: 30%;
  //   color: #ffffff;
  //   h1{
  //     font-size: 53px;
  //   }
  //   p{
  //     font-size: 33px;
  //     color: skyblue;
  //   }
  //  }
}



/***********
Team Section
************/

// .team-section {
//   padding: 60px 0 36px;

//   hr {
//     margin: 3rem 0;
//     margin: 3rem auto;
//     opacity: .2;
//     width: 80%;
//   }

//   .t-content-head {
//     h2 {
//       position: relative;
//       display: inline-block;

//       &::before{
//         content: '';
//         position: absolute;
//         bottom: -6px;
//         left: 0;
//         width: 50%;
//         height: 3px; 
//         background: $primary;
//       }
//     }
//     p{
//       &:last-of-type{
//         margin-bottom:0;
//       }
//     }
//   }

//   .t-title {
//     h3 {
//       position: relative;
//       display: inline-block;
//       margin-bottom: 24px;

//       &::before{
//         content: '';
//         position: absolute;
//         bottom: -6px;
//         left: 0;
//         width: 50%;
//         height: 3px; 
//         background: $primary;
//     }
//   }
// }

//   .m-profile{
//     position: relative;
//     img {
//       margin-top: -139px;
//       border-radius: 13px;
//     }
//     .m-info {
//       p {
//         color: $primary;
//         font-weight: 600;
//       }
//     }
//   }

//   .t-member{
//     margin-bottom: 24px;
//     img{
//       border-radius: 50%;
//       height:196px;
//       width:196px;
//       margin: 0 auto;
//       object-fit: cover;
//     }
//   }
//   .t-desc{
//     h5 {
//       color: $primary;
//       position: relative;
//       display: inline-block;
//       margin: 15px 0 0;
      

//       &::before{
//         content: '';
//         position: absolute;
//         left: 50%;
//         top: -9px;
//         width: 63px;
//         height: 2px;
//         transform: translateX(-50%);
//         background: $primary;
//       }
//     }
//     p{
//       margin-bottom: 3px;
//       font-weight: 600;
//     }
//   }
// }

/***********
Service Section
************/
.service-section {
  padding: 36px 0;
  background-color: #e5e5e5;
  .service-card{
    margin-bottom: 24px;
  a {
      &:first-of-type {
        text-decoration: none;
        color: $text-color;    
        .card{
          border: 1px solid $tertiary;
          height: 100%;

            img {
              max-width: 90px;
            }
        
            &-body {
              padding: 1rem 1rem 1.7rem;
              &-content {
                height: 140px;
                overflow: hidden;
                h6 {
                  margin-bottom: 20px;
                  color: $primary;
                }
              }
            }
            .more-icon{
              position: absolute;
              left:0;
              right:0;
              bottom:3px;
              width: 100%;
               i {
                 margin-right: 13px;
               }
            }
        }  
        &:hover {
          .card {
            background: $tertiary;
            transition: all .2s ease-in-out;
          }
          .more-icon {
            i {
              transform: translateX(3px);
              transition: all .2s ease-in-out;
            }
          }
        }
      }
    }
  }
}


/***********
Technology Section
************/

.technology-section{
  padding: 36px 0;
  background: linear-gradient(150deg, #010304, #094165);
  .section-head {
    color: #ffffff;
    h2 {
        &::after {
          background: #ffffff;
        }
    }
  }
  .tech-card{
    margin-bottom: 24px;
    .card{
      padding: 1rem;
      border-radius: 0;
      height: 100%;
      align-items: center;
    }
  }

  .oss{
    padding: 16px;
    padding-bottom: 1rem;
    color: #ffffff;
    img {
      width: 61px;
    }
  }

  .oss-title {
    color: #ffffff;
    margin-top: 33px;
  }

  .oss-head {
    padding-bottom: 21px;
    
    .h2 {
      color: #ffffff;
    }
  }

}


// .technology-section {

//   .section-head {
    
//     h2 {
//       &::after {
//         left:0;
//         transform: unset;
//       }
//     }
//   }
// }


//   .section-head {
//     margin-top: 33px;
//     margin-bottom: 2rem;

//     h2 {
//       &::after {
//         left:0;
//         transform: unset;
//       }
//     }
//   }

  





// ------------------------------------ Latest blogs section ------------------------------ //
.blog-section {
  padding: 36px 0;
  background-color: #e5e5e5;

  .blog-card {
    border: none;
    border-radius: 3px;

    .figure {
      margin: 6px 3px 1rem;

    }
    img {
      max-width: 100%;
    }

    a {
      text-decoration: none; 
      color:$text-color;
    }


    .card {
      border-radius: 9px;
    }

  }
}
// .blog-section {
//   background: #e9ebee;
//   padding: 55px 0;
//   &__title {
//     margin-bottom: 55px;
//   }

//   &__container {
//     &-card {
//       border: none;
//       box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
//       -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
//       -moz-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
//       figure {
//         padding: 15px 30px;
//         img {
//           max-width: 100%;
//         }
//       }
//       .card-body {
//         p {
//           &:last-of-type {
//             margin-bottom: 40px;
//           }
//         }
//         a {
//           display: flex;
//           justify-content: end;
//           align-items: center;
//           text-transform: uppercase;
//           font-weight: 600;
//           &:hover{
//             i{
//               transform: translateX(3px);
//             }
//           }
//           i{
//             padding-left: 4px;
//             transition: all .3s ease;
//           }
//         }
//       }
//     }
//   }
// }



/***********
Fixed Arrow Up
************/

.arrow-up {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: $primary;
  i {
    font-size: 1.5rem;
    color: #faf7c8;
    cursor: pointer;
    transition: all .2s ease-in-out;

    &:hover {
      transform: translateY(-10px);
    }
  }
}







/***********
Company Information Section
************/
// .company-info {
//   padding: 60px 0;
//   .t-wrap{
//     border-top: 1px dashed rgba(0,0,0,0.6);
//     border-bottom: 1px dashed rgba(0,0,0,0.6);
//     ul{
//       list-style-type: none;
//       padding:0;
//       margin-bottom: 0;

//       li{
//         display: flex;
//         padding: 0 23px;

//         p {
//            &:first-of-type {
//              font-weight: 600;
//              flex: 25%;
//              max-width: 25%;
//              position: relative;

//              &::after {
//                content: "";
//                position: absolute;
//                right: 0;
//                height: 24px;
//                width: 2px; 
//                background: #000000;

//              }
//            }

//            &:last-of-type {
//              flex: 75%;
//              max-width: 75%;
//              padding-left: 36px;

//              span {
//                display: block;
               
//                &:not(:last-of-type){
//                  margin-bottom: 9px;
//                }
//              }
//            }
//           margin: 23px 0;
//         }

//         &:not(:last-of-type){
//           border-bottom: 1px dashed rgba(0,0,0,0.6);
//         }
//       }
//     }
//   }

//   .timeline-wrap {
//     padding-left: 99px;
//   }
//   .timeline-box {


//     h5{
//       position: relative;
//       padding-left: 13px;
//       margin:0;

//       &::before{
//         content: '';
//         position: absolute;
//         width: 11px;
//         height: 11px;
//         border-radius: 50px;
//         left: -13px;
//         top: 5px;
//         background-color: $primary;
//       }
//     }

//     .timeline-content {
//       position: relative;
//       padding: 13px 13px 21px;
//       p{
//         margin-bottom:0;
//       }

//       &::before {
//         content: '';
//         position: absolute;
//         height: 100%;
//         width: 2px;
//         background-color: $primary;
//         top: 0;
//         left: -8px;
//       }
//     }

//     &:last-of-type {
//       .timeline-content {
//         &::before {
//           border: 1px dashed $primary;
//           width: unset;
//           background-color: unset;
//         }
//       }
//     }

//   }
// }




/***********
Inquiry Section
************/
.inquiry-section {
  min-height: 449px;
  background-attachment: fixed;
  background-image: url("../images/dummy-image.jpg");
  position: relative;
  padding: 60px 0;

  .overlay {
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    z-index: 0;
  }
  &-content{
    color: #ffffff;
    z-index: 1;
  }
  &-card {
    p {
      margin-bottom: 0;
    }
    .btn{
      padding: 21px 120px;
      transition: all .2s ease-in-out;
      font-size: 27px;
      margin-bottom: 26px;
      &:hover {
        transform: scale(1.1)
      }
    }
  }
}

// //////////////////////////////////////
// END : Portfolio page styles
// //////////////////////////////////////


.projects {
  margin-top: 35px;
  margin-bottom: 50px;
  position: relative;
  .heading {
      text-align: center;
      h2 {
          font-size: 5rem;
          font-weight: 700;
          color: black;
      }
  }
  .project-item {
      width: 100%;
      height: 300px;
      position: relative;
      // border-radius: 15px;
      overflow: hidden;
      .project-img {
          width: inherit;
          height: inherit;
          position: absolute;
          img {
              width: inherit;
              height: inherit;
              object-fit: cover;
              object-position: center;
          }
      }
      .project-info {
          width: inherit;
          height: inherit;
          position: relative;
          padding: 15px;
          color: white;
          background: #0000009e;
          opacity: 0;
          transform: scale(100%, 100%);
          transition-duration: 500ms;
          &:hover {
              opacity: 1;
              transform: scale(110%, 110%);
          }
          button {
              padding: 10px;
              width: 150px;
              color: black;
              background: $primary-c;
              border: none;
          }
      }
  }
}
.project-popup {
  width: 100%;
  height: 100vh;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  transition-duration: 500ms;
  .main-img {
      position: relative;
      img {
          width: 100%;
          height: 500px;
          object-fit: cover;
          object-position: center;
          overflow: hidden;
      }
      i {
          position: absolute;
          font-size: 1.5rem;
      }
      i#left-btn {
          top: 250px;
          left: 15px;
      }
      i#right-btn {
          top: 250px;
          right: 15px;
      }
  }
  .img-preview {
      width: 100%;
      height: 120px;
      img {
          height: inherit;
          object-fit: cover;
          object-position: center;
          overflow: hidden;
      }
  }
  .project-desc {
      padding: 50px 35px;
      h2 {
          font-weight: 700;
          font-size: 2rem;
      }
      p {
          padding-bottom: 15px;
      }
      button {
          padding: 10px;
          width: 150px;
          color: $primary-c;
          background: black;
          border: none;
      }
      i {
          position: absolute;
          top: 5px;
          right: 10px;
          font-size: 2rem;
      }
  }
}

// -----------------------------------
// END : Portfolio page styles
// -----------------------------------


