$primary: #002266;
$secondary: #F8F9FA;
$tertiary: #f0eeeb;
$text-color: #000000;
$backgroud-dark: #2e2f49;



// navbar variables
$navbar-brand-margin-end: 3rem;
$navbar-nav-link-padding-x: 0;

$navbar-light-active-color: #005aa9;
$navbar-light-color: $text-color;
$navbar-light-hover-color: $primary;


// heading variables
$headings-font-weight: 600;