@charset "utf-8";

body{
    font-family: "Open Sans", sans-serif;
    color: #202020;
 }
 h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans-serif;
}

/* title typography*/
.section_title{
    margin-bottom:60px;
}
.section_title h3{
    text-transform: uppercase;
    position: relative;
    font-weight: 700;
}
.section_title h3::after{
    content:'';
    background: #ffbc13;
    height: 4px;
    width: 70px;
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    bottom:-15px;
}

/*Navigation Bar */
/* .navbar .navbar-brand img{
    max-width: 60px;
} */
.navbar.fixed .navbar-brand img{
    height: 40px;
}
.navbar .navbar-brand img{
    height: 55px;
    transition: all .2s ease-in-out;
}
.navbar.fixed {
    top:0;
    position:fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    padding-bottom: 5px;
    box-shadow: -5px 13px 17px -2px rgba(0,0,0,0.08);
    -webkit-box-shadow: -5px 13px 17px -2px rgba(0,0,0,0.08);
    -moz-box-shadow: -5px 13px 17px -2px rgba(0,0,0,0.08);
}
.navbar{
    background: #ffffff;
    z-index: 9999;
    transition: all .2s ease-in-out;
}
.navbar-nav .nav-item .nav-link {
    color:#202020;
    font-weight: 500;
    padding: 2px 5px;
    margin: 0 15px;
    display: inline-block;
    position: relative;
}
.navbar-nav .nav-item .nav-link::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background: #ffbc13;
    transform-origin: bottom right;
    transition: transform 0.2s ease-out;
}
.navbar-nav .nav-item .nav-link:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar-nav .nav-item{
    align-items: center;
    display: flex;
}  
.navbar-nav .nav-item .btn{
    background: #ffbc13;
    padding: 8px 13px;
    color: #f4f8fd;
    border: none;
    transition: all .2s ease-in-out;
}

.navbar .nav-right .nav-right-item{
    position:relative
}
.navbar .nav-right .nav-right-item a select{
    border:none;
    background:#fff
}
.navbar .nav-right .nav-right-item a select:focus-visible{
    outline:none;
    border:none
}
.navbar .nav-right .nav-right-item .nav-link{
    padding: 2px 0 2px 5px;
    margin-left: 15px;
}
.navbar .nav-right .nav-right-item .nav-link::before{
    content:"";
    background:#202020;
    position:absolute;
    height:70%;
    width:2px;
    left:0;
    top:50%;
    transform:translateY(-50%);
}
/* Contactus */
.contactus{
    padding: 80px 0;
    background-image: url("../../assets/images/banner-2.jpg");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contactus .section_title h3{
    color: #f4f8fd;
    margin-bottom:40px;
}
.contactus .section_title p{
    color: #f4f8fd;
}

.contactus .section_title {
    margin-bottom: 45px;
}
.contactus form .form-control{
    border-radius: 0;
    padding: 10px;
    box-shadow: none;
    background: #4b4b4b;
    color: #f4f8fd;;
    border: none;
}

.contactus form .btn{
    padding: 15px 0;
    background: #ffbc13;
    box-shadow: none;
    border:none;
    border-radius: 3px;
    color:#f4f8fd;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
}
.contactus form .btn::before{
    content: '\f058';
    position: absolute;
    font-family: "Font Awesome 6 Free";
    font-weight: 700;
    font-size: 30px;
    width: 100%;
    height: 100%;
    left: 0;
    top: -100%;
    transition: all 0.5s;
    color:#f4f8fd;
}
.contactus form .btn:hover{
    background: #ffbc13;
}
.contactus form .btn:hover::before{
    top: 5px;
}
.contactus form .btn span{
    display: inline-block;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.5s;
}
.contactus form .btn:hover span{
    transform: translateY(200%);
}
/* How we work */
.how-we-work{
    padding: 80px 0;
    /* background: #f4f8fd; */
    background: linear-gradient(150deg, #010304, #094165);
}
.how-we-work .section_title h3 {
    color: #f4f8fd;
}
.how-we-work .section_wrap{
    margin-bottom: 40px;
}
.how-we-work .section_content{
    padding-left:120px;
    padding-right: 30px;
    position: relative;
}
.how-we-work .section_content h5{
    font-weight: 600;
    margin-bottom:20px;
    color: #f4f8fd;
}
.how-we-work .section_content p{
    margin-bottom:0;
    color: #f4f8fd;
}
.how-we-work .section_content .icon_wrapper{
    height: 75px;
    width: 75px;
    background:#ffbc13;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left:0;
}
.how-we-work .section_content .icon_wrapper img{
    height: 40px;
}

/* About Us */
.aboutus{
    padding: 80px 0;
    /* background: #f4f8fd; */
    
}
.aboutus .section_title h3::after{
    background: #005aa9;
}
.aboutus .service_content h5{
    font-weight: 600;
    padding: 0 30px;
    margin-bottom:0;
    font-size:18px;
    color:#474747;
}
.aboutus .service_content .service_icon_wrapper{
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: #005aa9;
    background-color: rgba(0, 0, 0, 0);
    pointer-events:none;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.aboutus .service_content .service_icon_wrapper img{
    height: 50px;
}

.aboutus .service_container{
    margin-bottom: 40px;
}
/* Carousel Section */
.carousel .inner-carousel-wrapper {
    position: relative;
}
.carousel .inner-carousel-wrapper img{
    width: 100%;
}
.carousel .carousel-content{
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%, -80%);
}

.carousel .carousel-content h1{
    font-size: 65px;
    color: #f4f8fd;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.carousel .carousel-content p{
    font-size: 18px;
    color: #f4f8fd;
    margin-bottom: 30px;
}
.carousel .carousel-content .btn{
    background: #ffbc13;
    text-transform: uppercase;
    font-size:14px;
    font-weight: 600;
    padding: 12px 24px;
    color: #f4f8fd;
    border: none;
    border-radius: 3px;
    box-shadow: -4px 15px 17px -7px rgba(0,0,0,0.23);
    -webkit-box-shadow: -4px 15px 17px -7px rgba(0,0,0,0.23);
    -moz-box-shadow: -4px 15px 17px -7px rgba(0,0,0,0.23);
    transition: all .2s ease-in-out;
}
.carousel .carousel-content .btn:hover{
    background: #4b4b4b;
}
/* Slick slider */
.carousel .inner-carousel .slick-dots {
    list-style-type: none;
    margin:0;
    padding:0;
    position: absolute;
    bottom:18%;
    left: 50%;
    transform:translateX(-50%);
}
.carousel .inner-carousel img{
    max-width: 100%;
}
.carousel .inner-carousel .slick-dots li{
    display: inline-block;
}
.carousel .inner-carousel .slick-dots li button{
    margin: 0 5px;
    background: #4b4b4b;
    border:none;
    font-size:0;
    height: 6px;
    width: 20px
}
.carousel .inner-carousel .slick-dots li.slick-active button{
    background: #ffbc13;
}
/* Who */
.who-we-are{
    padding: 80px 0;
    background-image: url(../images/whoweare.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-color:  #094165;
}
.who-we-are .section_title{
    color: #f4f8fd;
}
.who-we-are p{
    color: #f4f8fd;
    padding: 0 60px;
    font-weight: 600;
}
/* Blog Section */
.blog{
    padding: 80px 0;
}
.blog .card{
    background: none;
    border: none;
    padding: 14px;
    box-shadow: -3px 0px 20px -4px rgba(0,0,0,0.06);
    -webkit-box-shadow: -3px 0px 20px -4px rgba(0,0,0,0.06);
    -moz-box-shadow: -3px 0px 20px -4px rgba(0,0,0,0.06);
}
.blog .slick-slider .slick-track{
    padding: 20px 0;
}
.blog .card img{
    max-width: 100%;
}
.blog .card-body{
    margin: 30px 0;
    padding:0;
}
.blog .card-body h5{
    margin-bottom:20px;
    font-weight: 600;
}
.blog .card-body h5 a{
    text-decoration: none;
    color: #4b4b4b;
    transition: all .2s ease-in-out;
}
.blog .card-body h5 a:hover{
    color: #ffbc13;
}
.blog .card-body p{
    margin-bottom: 20px;
    color: #777777;
}

.blog .card-body .btn{
    background: #ffbc13;
    border-radius: 3px;
    color: #f4f8fd;
    border:none;
    text-transform: uppercase;
    box-shadow: none;
    font-size: 15px;
    transition: all .2s ease-in-out;
    font-weight: 600;
    padding: 8px 18px;
}
.blog .card-body .btn:hover{
    background: #4b4b4b;
}
.blog .card-wrapper .slick-list {
    margin: 0 -18px;
}
.blog .card-wrapper .slick-slide{
    margin: 0 18px;
}
/* Arrow Up */
.arrow-up{
    position:fixed;
    bottom:-50px;
    right:20px;
    width:40px;
    height:40px;
    border-radius:2px;
    background:#005aa9;
    transition:all .2s ease-in-out;
    cursor:pointer;
    visibility: hidden;
    opacity:0;
    z-index: 9999;
}
.arrow-up.show{
    bottom: 40px;
    opacity: 1;
    visibility: visible;
}
.arrow-up i{
    font-size:18px;
    color:#f4f8fd;
}
.arrow-up:hover{
    background: #4b4b4b;
}

/* Footer Section */
footer {
    padding: 80px 0;
    background: #1a1a1a;
    position: relative;
}
footer .footer_list.info{
    position:relative;
}
footer .footer_list.info::before{
    width: 193px;
    height: 95px;
    content: "";
    position: absolute;
    right: 0;
    top: 50px;
    background: url("../images/map-small.png") no-repeat center center;
}
footer .footer_list h4{
    color:#f4f8fd;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    margin-bottom:22px;
    padding-bottom: 18px;
}
footer .footer_list h4::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 65px;
    background: #ffbc13;
    bottom:0;
    left:0;
}
footer .footer_list ul{
    margin-bottom:0;
    padding:0;
}
footer .footer_list li{
    list-style-type: none;
    color:#979797;
    margin-bottom: 12px;
    font-size: 15px;
}
footer .footer_list li a{
    text-decoration: none;
    color: #979797;
    transition: all .2s ease-in-out;
}

footer .footer_list.links li a:hover{
    color: #ffbc13;
}

footer .footer_list.links li a i{
    font-size: 12px;
    padding-right: 16px;
    color: #979797 !important;
}
/* footer .footer_list.info li:last-child{
    margin-top: 30px;
}
footer .footer_list.info li:last-child a{
    position: relative;
    display: inline-block;
    width: 38px;
    height: 38px;
    color: #fff;
    line-height: 38px;
    text-align: center;
    margin-right: 3px;
    z-index: 1;
}
footer .footer_list.info li:last-child a::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border: 1px solid #333;
    background-color: #222;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-transition: all ease .238s;
    -moz-transition: all ease .238s;
    transition: all ease .238s;
}
footer .footer_list.info li:last-child a:hover::before{
    background: #ffbc13;
    border-color: #ffbc13;
}
footer .footer_list.info li span{
    font-weight: 600;
    width:75px;
    display: inline-block;
} */

.bottom{
    background: #101010;
    padding:15px;
}
.bottom p {
    color: #f4f8fd;
    font-size: 12px;
    margin-bottom:0;
}


/* Media Query */

@media (max-width: 575px){
    .carousel .inner-carousel img{
        height: 60vh;
        background-size: cover;
    }
    .carousel .carousel-content h1{
        font-size: 30px;
    }
    .carousel .carousel-content p{
        font-size:14px;
    }

    .carousel .carousel-content{
        transform: translate(-50%, -50%);
    }
    .aboutus .service_container:last-child{
        margin-bottom:0;
    }   
    .aboutus, .how-we-work, .blog, .contactus, .who-we-are, footer{
        padding: 50px 0;
    }
    footer .footer_list.links ul{
        margin-bottom: 40px;
    }
}
@media (min-width: 576px) and (max-width: 767px) {

    .carousel .inner-carousel img{
        height: 100vh;
        background-size: cover;
    }
    .carousel .carousel-content h1{
        font-size: 35px;
    }
    .carousel .carousel-content p{
        font-size:14px;
    }

    .carousel .carousel-content{
        transform: translate(-50%, -50%);
    }
    .aboutus .service_container:last-child{
        margin-bottom:0;
    }   
    .aboutus, .how-we-work, .blog, .contactus,.who-we-are, footer{
        padding: 50px 0;
    }
    footer .footer_list.links ul{
        margin-bottom: 40px;
    }
}

@media (max-width:991px) {
    .navbar-toggler .icon-bar {
        background-color: #454545;
        height: 2px;
        width: 20px;
        display: inherit;
        margin-top: 4px;
        margin-bottom: 5px;
    }
    .navbar-toggler {
        border: 2px solid #ffbc13;
        border-radius: 3px;
    }
    .navbar-toggler:focus{
        box-shadow: none;
    }
    .navbar-nav .nav-item .nav-link{
        margin: 8px 0;
    }
    .navbar .nav-right .nav-right-item .nav-link::before{
        content: none;
    }
    .navbar .nav-right .nav-right-item .nav-link{
        margin: 10px 0;
    }
    .how-we-work .section_content{
        padding-right:0;
        display: flex;
        align-items: center;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .carousel .inner-carousel img{
        height: 90vh;
        background-size:cover;  
    }
    .carousel .carousel-content{
        transform: translate(-50%, -50%);
    }
    .carousel .carousel-content h1{
        font-size: 50px;
    }
    .aboutus, .how-we-work{
        padding: 80px 0 40px;
    }
    .who-we-are p{
        padding:0;
    }
}

@media (min-width: 992px) and (max-width: 1199px){
    .carousel .inner-carousel img{
        height: 80vh;
        background-size:cover; 
    }
    .carousel .carousel-content{
        transform: translate(-50%, -50%);
    }
    .carousel .carousel-content h1{
        font-size: 50px;
    }
}

@media (min-width: 1200px) and (max-width: 1399px){
    .carousel .carousel-content h1{
        font-size: 55px;
    }
}