/***********
Contact Section
************/
// .asha-form-section{
//   padding: 60px 0;

//   .f-title {
//     margin-bottom: 30px;
//   }

//   .form-steps {
//     margin-bottom: 39px;
//     ul {
//       padding:0;
//       list-style-type: none;
//       display: flex;
//       justify-content: space-between;
//       overflow: hidden;

//       li{
//         display: inline-block;
//         flex-basis: calc(100% / 3);
//         max-width: calc(100% / 3);
//         margin-bottom:0;
//         padding: 17px;
//         position: relative;
//         background-color: #f1f1f1;

//         p{
//           margin-bottom:0;
//         }

//         &:not(:last-of-type){
//           &::before{
//             content: '';
//             position: absolute;
//             right: 20px;
//             top: 0;
//             bottom: 0;
//             width: 89px;
//             z-index: 1;
//             -webkit-transform: rotate(45deg) skew(15deg, 15deg);
//             transform: rotate(45deg) skew(15deg, 15deg);
//             border: solid #fff;
//             border-width: 5px 5px 0 0;
//           }

//           &.active{
//             background: $primary;
//             color: #ffffff;

//             &::before{
//               background-color: $primary;
//             }
//             &::after{
//               content: '';
//               background-color: #f1f1f1;
//               position: absolute;
//               right: 0;
//               width: 45px;
//               top: 0;
//               bottom: 0;
//             }
//           }
//         }
       
//       }
//     }
//   }

//   .main-form{
//     .form-label {
//       border-top: 1px solid $text-color;
//       font-weight: 600;
//     }
//     .input-wrap{
//       border-top: 1px solid #f1f1f1;
//       .form-control {
//         border-color: $text-color;
//         color: $text-color;
//         font-weight: 600;
//       }
//     }
//     h5{
//       position: relative;
//       display: inline-block;
//       padding: 9px 9px 9px 17px;
//       margin-bottom: 19px;

//       &::before {
//         content: '';
//         position: absolute;
//         background-color: $primary;
//         height: 100%;
//         width: 7px;
//         left:0;
//         top:0;
//       }
//     }
//   }

// }

.contact, .project {
  padding-bottom: 75px;
  background: #e3e7ed;
  h2 {
    font-size: 3.5rem;
    font-weight: 900;
  }
  .contact-form, .project-form {
    max-width: 768px !important;
    form {
      padding: 25px;
      border-radius: 8px;
      background: #fff;
      span {
        font-weight: 900;
      }
      input, textarea {
        padding: 12px;
        width: 100%;
        background: transparent;
        border: none;
        border-bottom: 1px solid gray;
      }
      button {
        width: 150px;
        padding: 12px 24px;
        background: $primary;
        color: #fff;
        border: none;
        border-radius: 8px;
      }
    }
  }
}
